<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos Serviços</h2>
                    <hr class="service" />
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-3">
                  <span class="fa-stack fa-3x">
                      <img id="img_services" src="../img/1.png" />
                  </span>
                  <h4 class="service-heading">Identidade visual</h4>
                  <p class="text-muted" align="center">Estudo, criação e redesign de logotipo. Papelaria completa: cart]ao de visita, papel timbrado, pasta proposta, envelope e outros.</p>
              </div>
              <div class="col-md-3">
                  <span class="fa-stack fa-3x">
                      <img id="img_services" src="../img/2.png" />
                  </span>
                  <h4 class="service-heading">Ilustração</h4>
                  <p class="text-muted" align="center">Criamos o mascote para sua empresa ou caricaturas para fins diversos.</p>
              </div>
              <div class="col-md-3">
                  <span class="fa-stack fa-3x">
                      <img id="img_services" src="../img/3.png" />
                  </span>
                  <h4 class="service-heading">Web</h4>
                  <p class="text-muted" align="center">Criação e gerência de redes sociais, websites institucionais e hotsites.</p>
              </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-3x">
                        <img id="img_services" src="../img/4.png" />
                    </span>
                    <h4 class="service-heading">Serviços</h4>
                    <p class="text-muted" align="center">Hospedagem de sites, gerência de serviços na nuvem: E-mail corporativo, nuvem corporativa dentre outros.</p>
                </div>
            </div>
        </div>
    </section>
